# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import os
import gmaps

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# importing city information from csv
city_csv = "../output_data/cities.csv"
city_data = pd.read_csv(city_csv, encoding="ISO-8859-1")

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)
# Store Latitude and Longitude into  locations 
locations = city_data[["Latitude", "Longitude"]].astype(float)
humidity = city_data['Humidity (%)']

In [4]:
# applying the style and plotting the base heatmap
figure_layout = {
    'width': '100%',
    'height': '600px',
    'border': '2px solid black',
}
fig = gmaps.figure(layout=figure_layout, map_type='ROADMAP', center=(20,0),zoom_level=2)
fig.add_layer(gmaps.heatmap_layer(locations, weights=humidity))
fig

Figure(layout=FigureLayout(border='2px solid black', height='600px', width='100%'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# narrowing down city list as per my ideal vacation criteria
my_ideal_vacation_cities= city_data.loc[(city_data["Wind Speed (mph)"] < 10) & (city_data["Cloudiness (%)"] == 0)
                                       & (city_data["Temperature (F)"] > 70) & (city_data["Temperature (F)"] < 80)]

my_ideal_vacation_cities

,City_ID,City_Name,Cloudiness (%),Country,Date,Humidity (%),Latitude,Longitude,Temperature (F),Wind Speed (mph)
135,2063039,Port Keats,0,AU,1592166354,40,-14.25,129.55,70.86,7.38
150,2315026,Kasongo-Lunda,0,CD,1592166356,48,-6.47,16.82,73.31,0.58
177,281133,Gaza,0,PS,1592166360,78,31.50,34.47,75.27,8.01
189,128234,Kerman,0,IR,1592166361,19,30.28,57.08,71.87,4.70
276,3456500,MuriaÃ©,0,BR,1592166374,73,-21.13,-42.37,74.50,5.32
277,304355,Milas,0,TR,1592166375,68,37.32,27.78,70.07,3.36
433,3347019,Mossamedes,0,AO,1592166396,65,-15.20,12.15,71.02,1.50
473,304183,Bayir,0,TR,1592166402,68,37.27,28.22,70.07,3.36
494,3471691,AraxÃ¡,0,BR,1592166205,47,-19.59,-46.94,75.47,6.93
544,5394329,Selma,0,US,1592166412,33,36.57,-119.61,79.27,8.48

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
# searching hotels that are within 5000 meter radius of my ideal city's coordinate
hotel_name = []
for index in my_ideal_vacation_cities.index:
    url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    params = {
        'location':f"{my_ideal_vacation_cities['Latitude'][index]},{my_ideal_vacation_cities['Longitude'][index]}",
        'radius':5000,
        'type':'hotel',
        'key':g_key
    }
    # making the api call and grabbing the name of the first hotel
    response = requests.get(url, params=params)
    hotel_info = response.json()
    # ignoring the [0] index as it seems like the information of the city
    hotel_name.append(hotel_info["results"][1]["name"])

In [12]:
# assigning the filtered data into a new dataframe and adding new column hotel_name ...
# then renaming columns to keep it aligned with starter HTML code
hotel_df = my_ideal_vacation_cities.assign(Hotel_Name=hotel_name)
hotel_df.rename(columns={"Hotel_Name":"Hotel Name", "City_Name": "City", "Latitude":"Lat", "Longitude":"Lng"}, inplace=True)
hotel_df

,City_ID,City,Cloudiness (%),Country,Date,Humidity (%),Lat,Lng,Temperature (F),Wind Speed (mph),Hotel Name
135,2063039,Port Keats,0,AU,1592166354,40,-14.25,129.55,70.86,7.38,Australia Post
150,2315026,Kasongo-Lunda,0,CD,1592166356,48,-6.47,16.82,73.31,0.58,Couvent Des Soeurs De Marie
177,281133,Gaza,0,PS,1592166360,78,31.50,34.47,75.27,8.01,Quds Press
189,128234,Kerman,0,IR,1592166361,19,30.28,57.08,71.87,4.70,Mellat Bank
276,3456500,MuriaÃ©,0,BR,1592166374,73,-21.13,-42.37,74.50,5.32,Magazine Luiza
277,304355,Milas,0,TR,1592166375,68,37.32,27.78,70.07,3.36,Milashan Hotel
433,3347019,Mossamedes,0,AO,1592166396,65,-15.20,12.15,71.02,1.50,Pavilhão Welwitschia Mirabilis
473,304183,Bayir,0,TR,1592166402,68,37.27,28.22,70.07,3.36,Gören Sigorta Aracılık Hizmetleri
494,3471691,AraxÃ¡,0,BR,1592166205,47,-19.59,-46.94,75.47,6.93,Plaza Inn Flat Araxá
544,5394329,Selma,0,US,1592166412,33,36.57,-119.61,79.27,8.48,Holiday Inn Selma-Swancourt

In [13]:
# NOTE: Do not change any of the code in this cell 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# Add marker layer on top of heat map
hotel_layer = gmaps.symbol_layer(
    locations,
    fill_color='black',
    stroke_color='red',
    scale=6,
    info_box_content=hotel_info
)

# Display figure
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(border='2px solid black', height='600px', width='100%'))